<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>People</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    h1 {
      color: #000;
      text-align: left;
      margin-bottom: 20px;
      text-decoration: underline;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #ccc;
      margin-bottom: 20px;
    }

    th, td {
      padding: 12px 15px;
      text-align: left;
      border: 1px solid #ccc;
    }

    th {
      background-color: #000;
      color: #fff;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    a {
      text-decoration: none;
      color: #007bff;
    }

    a:hover {
      text-decoration: underline;
    }

    .actions {
      white-space: nowrap;
    }

    .actions a {
      margin-right: 10px;
    }

  
  </style>
</head>
<body>
  <h1 style="color: black; text-decoration: underline;">People</h1>
  <table>
    <thead>
      <tr>
        <th style="color: white;">Profile Picture</th>
        <th style="color: white;">First Name</th>
        <th style="color: white;">Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Instagram</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td>
           <% if person.profile_picture.present? %>
           <%= image_tag(person.profile_picture, style: "width: 50px; max-height: 100px") %>
           <% else %>
           <p>No profile picture available</p>
           <% end %>
           </td>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td><%= person.email %></td>
          <td><%= person.phone %></td>
          <td><%= person.instagram %></td>
          <td class="actions">
            <%= link_to 'Show', person, class: "btn btn-primary", style: "padding: 8px 20px; border-radius: 5px; color: white; background-color: #333333; border: none;" %>
            <% if current_user.admin? || person.user == current_user %>
              <%= link_to 'Edit', edit_person_path(person), class: "btn btn-primary", style: "padding: 8px 20px; border-radius: 5px; color: white; background-color: #333333; border: none;" %>
              <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary", style: "padding: 8px 20px; border-radius: 5px; color: white; background-color: #333333; border: none;" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Person', new_person_path, style: "padding: 8px 20px; border-radius: 5px; color: white; background-color: #0000FF; border: none;"  %>
</body>
</html>
